
<div class="container-fluid" style="margin-top: 0px;">
  <nav *ngIf="this.auth.currentUser" class="navbar navbar-expand navbar-dark bg-dark" style="margin-bottom: 40px; margin-top: 0px;">
      <a class="navbar-brand" href="#">Pluto</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Posts</a>
          </li>
          <li *ngIf="this.auth.currentUser.access == 'admin'" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/users">Users</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li *ngIf="this.auth.currentUser" class="nav-item ">
              <a class="nav-link" routerLink="/users/me">Settings</a>
            </li>
          <li *ngIf="this.auth.currentUser" class="nav-item ">
            <a class="nav-link" routerLink="/login" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
