
	<div class="container">
		<div class="card mx-auto" style="width: 18rem; margin-top:100px;">
			<div class="card-block">
				<div class="card-body">
					<h4 class="card-title">Login</h4>
					<div *ngIf="authFailed" class="alert alert-danger" role="alert"> Credentials were incorrect </div>
					<form [formGroup]="form" (ngSubmit)="login()">
						<div class="form-group">
							<input class="form-control" formControlName="name" id="name" placeholder="name" type="text">
						</div>
						<div class="form-group">
								<input class="form-control" formControlName="password" placeholder="Password" type="password" value="">
						</div>
						<div class="form-group no-margin">
								<button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
