
<div class="container clearfix">
  <div style="margin-bottom: 10px;" class="float-right" >
    <a routerLink="posts/add" class="btn btn-sm btn-success">Create Post</a>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-4" type="search" placeholder="Search" (keyup)="searchKeyUp($event)" aria-label="Search">
  </form>
  <br>
  <div class="row">
    <div class="col-7 col-md-push-7">
      <div class="list-group">
          <!-- Start -->
        <div *ngFor="let post of searchResults" class="list-group-item flex-column list-group-item-action align-items-start clearfix" (click)="postWasClicked(post)">  
            <small class="float-right text-muted">{{post.Date_Visable?  "Offset: " +post.Date_Visable : 'No offset'}} Events: {{post.Events.length}}</small>
            <div class="media">
                <img class="align-self-start mr-3" src="{{post.Thumnail_URL}}" alt="Generic placeholder image" width="64px">
                <div class="media-body">
                  <h5 class="mt-0">{{post.Title}}</h5> <span class="text-muted text-sm">author: {{users[post.User_ID]}}</span> 
                  <p class="mb-1">{{ post.Excerpt }}</p>
                  
                </div>
              </div>
            <!-- End -->
        </div>
      </div>
      <!-- 
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Visability</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of searchResults">
              <td>{{getMonthYear(post.Timestamp)}}</td>
            <td>{{post.Title}}</td>
            <td>{{post.User_ID}}</td>
            <td>{{post.Date_Visable?  "Offset: " +post.Date_Visable : 'No offset'}}</td>
          </tr>
        </tbody>
      </table>
        End -->
    </div>

    <div class="col-5 col-md-pull-5">
      <post-preview *ngIf="selectedPost" (onButtonPress)="editOrDelete($event)" [post]="selectedPost" [canEdit]="this.auth.currentUser._id == selectedPost.User_ID || this.auth.currentUser.access == 'admin'"></post-preview>
    </div>
  </div>
</div>